$icomoon-font-path: "fonts" !default;

$icon-pencil: "\e905";
$icon-images: "\e90e";
$icon-camera: "\e90f";
$icon-video-camera: "\e914";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-arrow-left2: "\ea40";
$icon-circle-left: "\ea44";

$content-width: 60%;

