.operate {
  width: 100%;
  margin: auto;
  text-align: center;
  // display: flex;
  // justify-content: center;

  .operate-list {
    margin: auto;
    display: flex; 
    font-size: 20px;
    justify-content: center;
  }

  .operate-nav {
    display: flex;
  }

  .operate-button {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    line-height: 40px;
    border: 1px solid #434343;
    border-radius: 50%;
    cursor: pointer;
    will-change: transform;
  }

  .operate-up-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
  }

  .operate-add-button {
    font-size: 40px;
    line-height: 42px;
    transition: transform .4s ease;
    transform: rotate(0deg);
  }
}

.hidden-nav {
  .operate-nav {
    visibility: hidden;
    transition: visibility .5s;
  }

  .first-nav {
    transition: transform .3s .1s ease;
    transform: scale(0);
  }

  .second-nav {
    transition: transform .3s ease;
    transform: scale(0);
  }
}

.show-nav {
  .operate-add-button{
    transform: rotate(135deg);
  }

  .operate-nav {
    visibility: visible;
    transition: visibility 0s;
  }

  .first-nav {
    transition: transform .3s ease;
    transform: scale(1);
  }

  .second-nav {
    transition: transform .1s .2s ease;
    transform: scale(1);
  }
}