@import "../../assets/style/variables";

.scale-box {
  position: relative;
  margin: auto;
  display: flex;
  transition: height .3s ease, width .3s ease;
  width: $content-width;
  will-change: height;

  .sacle-image {
    margin: auto;
    width: 100%;
    // padding: 0;
    // transform: scale(1, 1);
    // transition: transform .5s .3s ease;
    // will-change: transform;
  }

  // .full-image {
  //   width: 100vw;
  // }
}