.scale-box {
  position: relative;
  margin: auto;
  display: flex;
  transition: height .5s ease;
  width: 100%;
  will-change: height;

  .sacle-image {
    margin: auto;
    width: 60vw;
    padding: 0;
    transition: width .5s ease;
    will-change: width;
  }

  .full-image {
    width: 100vw;
  }
}